---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import BlogCard from "../../components/BlogCard.astro";

const experiments = (await getCollection("experiments")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body
    class="bg-gradient-to-b from-gray-50 to-gray-100 dark:from-gray-900 dark:to-gray-800 min-h-screen"
  >
    <Header />
    <main class="max-w-4xl mx-auto px-4 py-8">
      <h1
        class="text-3xl font-bold text-center mb-10 text-gray-800 dark:text-gray-100"
      >
        Experiments
      </h1>
      <p class="text-center mb-8 text-gray-600 dark:text-gray-300">
        These experiments are done using various tutorials that I've followed
        and modified.
      </p>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
        {
          experiments.map((experiment, index) => (
            <BlogCard
              url={`/experiments/${experiment.id}/`}
              title={experiment.data.title}
              pubDate={experiment.data.pubDate}
              description={experiment.data.description}
              tags={experiment.data.tags}
              isFeature={index === 0}
              actionText="View experiment"
              tagColorClass="bg-purple-50 text-purple-700"
            />
          ))
        }
      </div>
    </main>
    <Footer />
  </body>
</html>
