---
import FormattedDate from "./FormattedDate.astro";

export interface Props {
  url: string;
  title: string;
  pubDate: Date;
  description?: string;
  tags?: string[];
  isFeature?: boolean;
}

const { 
  url, 
  title, 
  pubDate, 
  description, 
  tags, 
  isFeature = false, 
} = Astro.props;

---
<a
  href={url}
  class={`group relative block border border-gray-800 bg-black hover:bg-neutral-900 transition-colors duration-500 p-6 flex flex-col justify-between ${isFeature ? "md:col-span-2" : ""}`}
>
  <span class="absolute top-0 left-0 w-full h-[1px] bg-gray-300 scale-x-0 group-hover:scale-x-100 transition-transform duration-500 origin-left ease-out"></span>
  <span class="absolute bottom-0 right-0 w-full h-[1px] bg-gray-300 scale-x-0 group-hover:scale-x-100 transition-transform duration-500 origin-right ease-out"></span>
  <span class="absolute top-0 right-0 w-[1px] h-full bg-gray-300 scale-y-0 group-hover:scale-y-100 transition-transform duration-500 origin-top ease-out"></span>
  <span class="absolute bottom-0 left-0 w-[1px] h-full bg-gray-300 scale-y-0 group-hover:scale-y-100 transition-transform duration-500 origin-bottom ease-out"></span>
  <div>
    <h2 class="text-gray-200 group-hover:text-white transition-colors duration-300 text-2xl font-bold uppercase tracking-tight mb-2">
      {title}
    </h2>
    <p class="text-gray-500 text-xs mb-4 uppercase tracking-widest">
      <FormattedDate date={pubDate} />
    </p>
    {description && (
      <p class="text-gray-400 text-sm mb-6 leading-relaxed">
        {description}
      </p>
    )}
  </div>
  
  {tags && tags.length > 0 && (
    <div class="flex flex-wrap gap-2 mt-4">
      {tags.map((tag) => (
        <span class="text-xs text-gray-400 uppercase border border-gray-800 px-2 py-1 hover:border-gray-500 hover:bg-neutral-900 transition-colors duration-300 cursor-default">
          {tag}
        </span>  
      ))}
    </div>
  )}
</a>